*{
    margin: 0;
    padding: 0;
    background-color:lightcyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: none;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color:rgb(4, 4, 42);
    padding: 15px;
    border-radius: 30px;
    
    display: grid;
    grid-template-columns:repeat(4,68px) ;
}
input{
    grid-column: span 4;
    height:70px;
    width: 235px;
    background-color:azure;
    font-size: xx-large;
    border:none;
    border-radius: 30px;
    color:black;
    text-align: end;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
    margin-right: 10px;

}

button{
    height:48px;
    width: 48px;
    background-color: aliceblue;
   
     border: none;
     border-radius: 50%;
     margin: 8px;
     font-size:16px;
}

.equal{
    width: 115px;
    border-radius: 40px;
    background: #ffffff;
   
}